// ---- Set up variables ----
@dark-blue: #1e718b;	
@blue:      #2ba6ca; 
@dark-gray: #222222;
@green:     #8fdc21;

// ---- Mixins ----
.right-hand-box {
    padding-top: 20px;
	padding-bottom: 20px;
    min-height:240px;
}


.tab-pane .well {
    .right-hand-box;
}

.well.testimonal-well {
    .right-hand-box;
}

.testimonials {
  padding:10px;
  border:1px solid black;
  height:200px;
  overflow:auto;
}

.testimonials {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}

.testimonials.ng-hide-add {
    opacity: 1;
}

.testimonials.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
 
.testimonials.ng-hide-remove {
    opacity:0;
    
}
.testimonials.ng-hide-remove.ng-hide-remove-active {
    opacity: 1; 
}

h2 {
  color:#333;
  font-family: MicrosoftYahei;
}

p {
 font-family: MicrosoftYahei; 
}

.make_border {
  width: 60px;
  height: 3px;
  margin-bottom: 10px;
  background:#8a1c21; 
}

.about{
  margin-top: 40px;
  width: 100%;
  overflow: hidden;
}

.culture_word {
    text-align: center;
    float: left;
    background: white;
    width: 22%;
    height: 200px;
    margin: 15px;
}

.culture_word p {
  margin-top:90px;
  font-size: large;
}

.red_border {
  border: 2px solid #a45054;
  padding:30px;
}

.en_title　{
  font-size: 30px;
  margin-top: 10px
  margin-bottom: 30px;
   font-family: HelveticaNeueLTPro-33ThinExtened; 
   color: #AAAAAA;
}

.row {
  margin-left: 60px;
}