  <div id="home-view" class="row">
    <div class="col-md-8">
      <h1>About Us</h1>
      <hr>
      <h2>公司简介：</h2>
      <div class='make_border'></div>
      <p>韵泽文化是国内领先的服务新经济的文化创意机构，由一批在海内外艺术、金融和科技领域资深人士组建成立，我们热爱生活，专注品质，我们崇尚不忘初心的商业体验，我们致力于为中国新经济机构和个人提供一站式文化创意服务。</p>
      <h2>公司业务：</h2>
      <div class='make_border'></div>
      <p>美酒佳酿、茗茶品味、艺术生活、旅行体验</p>
       <h2>企业文化：</h2>
      <div class='make_border'></div>
      <p>契约精神、创业精神、团队合作、追求卓越、主人翁精神</p>
    </div>
    <!-- <div class="col-md-4">
    <tabset>
        <h2>Some Details</h2>
        <tab class="details" ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
          <div class="well">{{tab.content}}</div>
        </tab>
    </tabset>
    
    <h3>Testimonials</h3> -->
<!--     
    <div class="well testimonal-well">
        <div ng-repeat="t in testimonials" class="testimonials" ng-hide="!isCurrentSlideIndex($index)">
            <p>{{t.comment}}</p>
            <p>{{t.name}} - {{t.date}}</p>
        </div>
    </div>
 -->
    </div>
  </div>