  <div id="home-view" class="row">
    <div class="col-md-8">
      <h1>About Us</h1>
      <hr>
      <h2>公司简介：</h2>
      <div class='make_border'></div>
      <p>韵泽文化是国内领先的服务新经济的创意机构，由一批在海内外艺术、金融和科技领域资深人士共同组建成立，公司致力于为中国新经济创业家、企业家和梦想家提供一站式文化及金融服务。</p>
      <h2>公司业务：</h2>
      <div class='make_border'></div>
      <p>美酒佳酿、中国茶叶、艺术精品、旅行方案</p>
    </div>
    <!-- <div class="col-md-4">
    <tabset>
        <h2>Some Details</h2>
        <tab class="details" ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
          <div class="well">{{tab.content}}</div>
        </tab>
    </tabset>
    
    <h3>Testimonials</h3> -->
<!--     
    <div class="well testimonal-well">
        <div ng-repeat="t in testimonials" class="testimonials" ng-hide="!isCurrentSlideIndex($index)">
            <p>{{t.comment}}</p>
            <p>{{t.name}} - {{t.date}}</p>
        </div>
    </div>
 -->
    </div>
  </div>